<div class="row">
    <p class="text-danger col-6 mx-auto text-center" *ngIf="errorMsg">{{ errorMsg }}</p>
  </div>
  <div class="row">
    <div class="col-xs-10 col-md-8 mx-auto">
      <div class="picSpin" *ngIf="loadingPic">
        <mat-spinner style="margin:0 auto;" ></mat-spinner>
      </div>
      <form [formGroup]="pictureForm" *ngIf="!loadingPic">
          <div class="form-group profilePic">        
              <input type="file" accept="image/*" #imageInput (change)="onFileAdded($event)">
              <img [src]="imagePreview" alt="profile picture" *ngIf="imagePreview">
              
              <div class="ctrlPic row col-5 mx-auto">         
                <button  *ngIf="!newProfile && imagePreview!=='https://res.cloudinary.com/cbpicstore/image/upload/v1615060643/SharePlace-Evo/default.png'" (click)="imageInput.click()"><img src="./assets/images/change-icon.png" alt="change icon"></button>
                <button  *ngIf="!newProfile && !pictureChanged && imagePreview!=='https://res.cloudinary.com/cbpicstore/image/upload/v1615060643/SharePlace-Evo/default.png'" (click)="onDeletePic()"><img src="./assets/images/delete-icon.png" alt="delete-icon"></button>            
                <button  *ngIf="pictureChanged" (click)="onLoadPic()"><img src="./assets/images/check-icon.png" alt="check icon"></button>         
              </div>
              <button  *ngIf="!newProfile && imagePreview==='https://res.cloudinary.com/cbpicstore/image/upload/v1615060643/SharePlace-Evo/default.png'" (click)="imageInput.click()"><img src="./assets/images/add-icon.png" alt="add icon"></button>            
          </div>
      </form>
      <mat-spinner style="margin:0 auto" *ngIf="loading"></mat-spinner>
      <form [formGroup]="profileForm" *ngIf="!loading" class="infosForm">
          <p class="text-danger">* Les champs avec une astérisque sont obligatoires</p>
          <div class="form-group">
              <label for="firstname">Prénom*</label>
              <input type="text" class="form-control" id="firstname" formControlName="firstname">
              <div *ngIf="profileForm.get('firstname').errors ">          
                <p class="text-danger mt-1" *ngIf="profileForm.get('firstname').errors?.maxlength">Firstname must be at max 40 characters</p>
                <p class="text-danger mt-1" *ngIf="profileForm.get('firstname').errors?.pattern">Firstname must start with a capital and contain only letters, numbers, hyphens and single quotes</p>
              </div>
          </div>
          <div class="form-group">
              <label for="lastname">Nom*</label>
              <input type="text" class="form-control" id="lastname" formControlName="lastname">
              <div *ngIf="profileForm.get('lastname').errors ">          
                <p class="text-danger mt-1" *ngIf="profileForm.get('lastname').errors?.maxlength">Lastname must be at max 40 characters</p>
                <p class="text-danger mt-1" *ngIf="profileForm.get('lastname').errors?.pattern">Lastname must start with a capital and contain only letters, numbers, hyphens and single quotes</p>
              </div>
            </div>
          <div class="form-group" *ngIf="!editMode">
            <label for="username">Nom d'utilisateur*</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <div *ngIf="profileForm.get('username').errors ">          
              <p class="text-danger mt-1" *ngIf="profileForm.get('username').errors?.maxlength">Username must be at max 40 characters</p>
              <p class="text-danger mt-1" *ngIf="profileForm.get('username').errors?.pattern">Username must contain only letters, numbers, hyphens and single quotes</p>
            </div>
          </div>
          <div class="form-group" *ngIf="!editMode">
            <label for="password">Mot de passe*</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <div *ngIf="profileForm.get('password').errors">         
              <p class="text-danger mt-1" *ngIf="profileForm.get('password').errors?.pattern">Password must contain at least one capital, one lowercase, one number, one special character and be at least 8 characters long</p>
            </div>
          </div>
          <div class="form-group" *ngIf="!editMode && !profileForm.get('password').errors">
            <label for="password2">Répeter le mot de passe*</label>
            <input type="password" class="form-control" id="password2" formControlName="password2" pattern="{{ profileForm.get('password').value }}">
            <div *ngIf="profileForm.get('password2').errors ">         
              <p class="text-danger mt-1" *ngIf="profileForm.get('password2').errors?.pattern">Password doesn't match</p>
            </div>
          </div>
          <div class="form-group">
              <label for="department">Service*</label>
              <input type="text" class="form-control" id="department" formControlName="department">
              <div *ngIf="profileForm.get('department').errors ">          
                <p class="text-danger mt-1" *ngIf="profileForm.get('department').errors?.maxlength">Department name must be at max 30 characters</p>
                <p class="text-danger mt-1" *ngIf="profileForm.get('department').errors?.pattern">Department name must start with a capital and contain only letters, numbers, hyphens and single quotes</p>
              </div>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Facultatif">
            <div *ngIf="profileForm.get('email').errors && (profileForm.get('email').touched || profileForm.get('email').dirty)">
              <p class="text-danger" *ngIf="profileForm.get('email').errors?.validEmail">Invalid email</p>
            </div>
          </div>
          <div class="form-group">
            <label for="aboutMe">A propos de moi</label>
            <textarea class="form-control" id="aboutMe" rows="3" formControlName="aboutMe" placeholder="Facultatif"></textarea>            
            <div *ngIf="profileForm.get('aboutMe').errors && (profileForm.get('aboutMe').touched || profileForm.get('aboutMe').dirty)">
              <p class="text-danger" *ngIf="profileForm.get('aboutMe').errors?.maxlength">Publication must be at max 4000 characters long</p>
              <p class="text-danger" *ngIf="profileForm.get('aboutMe').errors?.forbiddenCharacter">Characters cannot be &lt; > or *</p>
            </div>
          </div>
          <button class="row mx-auto" [disabled]="profileForm.invalid" (click)="onSubmit()"><img src="./assets/images/check-icon.png" alt="check icon"></button>    
      </form>
    </div>
  </div>
  
