<div class="row">
    <div class="col-xs-10 col-md-8 mx-auto">
      <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
      <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
      <form [formGroup]="loginForm" *ngIf="!loading && !isAuth">
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" formControlName="username">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <button class="row mx-auto" [disabled]="!loginForm.valid" (click)="onLogin()"><img src="../../../assets/images/check-icon.png"></button>
      </form>
    </div>
  </div>
  
