@import '../../colors.scss';

li {
    border: solid 1px rgb(172, 172, 172);
    border-radius: 5px;
    list-style-type: none;   
    margin-bottom: 10px; 
}

.profile-link {
    a {
    color: $prof-link;    
    }
    a:hover {
        color: whitesmoke;
    }
    a:focus {
        color: $btn-main;
        border: solid 1px $btn-main;
    }
}

p {
    font-weight: 500;
    color: whitesmoke;
    margin-top: 5px;
}

span {
    font-style: italic;
    font-weight: normal;
    color: $post-bg;
}

.profilePic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0px;
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: solid 1px $btn-main;
        margin-right: 5px;
    }
}

.items-users-list {
    background-color: black;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1.2rem;
}