@import '../../colors.scss';

.search {    
    margin:20px;    
    background-color: $post-bg;
    border-radius: 10px;
    button {
        border-radius: 50%;
        padding: 10px;        
        img {
            width: 30px;
            height: 30px;             
        } 
    }
    button:hover {
        background-color: $grey-black;
    }
     
    h2 {
        font-size: 2rem;    
        font-weight: 600;
        color: $grey-black;    
    }
}

#search-tool {
    margin: 0px 5px;
}

#search-window {   
    padding: 5px 10px;   
    border: solid 2px $btn-main;
    border-radius: 5px;
    font-size: 1rem;
    background-color: $grey-black;
    color: whitesmoke;
    width: 95%;
    height: 36px;    
}

#noUser {
    height: 20px;    
    p {
        color: red;
    }
}

h2 {
    font-size: 1.8rem;    
    font-weight: 600;
    color: whitesmoke;    
}

button {
    background-color: $btn-main;
    color: whitesmoke;  
}
