<div class="row mt-5 mb-1 mx-auto">
    <div class="bannier col-xs-12 col-lg-10 mx-auto">
        <div class="job-place row no-gutters">
            <div class="row mx-auto ml-md-2 col-md-10 justify-content-center">
                <!--<img src="../assets/images/groupo-monochrome-white.png" alt="Logo Groupomania">-->
                <div class="cname">
                    <p>Fellows</p>
                </div>
            </div>
            <div class="col-12 row mx-auto">
                <div class="offset-md-6 col-md-6 text-center mt-2">
                    <h1>SharePlace</h1>
                </div>
            </div>            
        </div>
        
        <nav class="menu row no-gutters mb-3 mt-1 ">           
            <a class="col-xs-12 col-sm-5 mx-auto mx-md-0 mr-md-1 col-md-3 mb-1 text-center" routerLinkActive="active-link" *ngIf="!isAuth" routerLink="login">Connexion</a>
            <a class="col-xs-12 col-sm-5 mx-auto mx-md-0 col-md-3 mb-1 text-center" routerLinkActive="active-link" *ngIf="!isAuth" routerLink="profile/signup">Inscription</a>
        </nav>       
    </div>
</div>

<div class="row message mb-2">
    <p class="col-12 text-center" *ngIf="showMessage === true"> {{headMessage}}</p>
</div>
