@import '../../colors.scss';

@media (max-width: 767.98px) {
    a.nav-link {
        font-size: 1.1rem;
    }
}

.menu {
    background: linear-gradient(rgba(33, 33, 33, 1)50%, rgba(33, 33, 33, 0.8)90%,rgba(33, 33, 33, 0)100%);
    padding: 10px 0px;
}


.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $grey-black;
    border: solid 3px $btn-main;
    border-radius: 10px;
   
    button {
        margin: 0px;
        border: none;
        padding:2px;
    }

    button.menu-open {
        margin: 7px;
        padding: 4px;
        border: solid 1px grey;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li{
        //font-size: 0.9rem;
        background-color: rgb(176, 94, 31);
        border-radius: 5px;
        color: white;
        padding: 0px 10px;
        margin:5px;
        a {
            color: white;
        }
    }

    li.logout {
        background-color: rgb(145, 53, 13);
    }

    li:hover {
        background-color: rgba(255, 209, 129, 0.722);
    }

    a:focus {
        box-shadow: inset 0px 0px 1px 1px whitesmoke;
        border-radius: 3px;
    }
    
    .active-link {
    background-color: rgba(255, 209, 129, 0.722);
}
}
