<div class="container-fluid menu col-12 col-lg-10 mx-auto" *ngIf="isAuth">
    
    <nav class="navbar navbar-expand-md navbar-dark mb-3">      
        <button class="navbar-toggler" type="button" [ngClass]="{ 'menu-open': navbarOpen }" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
        
            <ul class="navbar-nav col-12 row no-gutters px-0">
           
                <li class="nav-item col-9 mx-md-1 col-md-2 mb-1 mx-auto px-0 text-center" routerLinkActive="active-link" *ngIf="isAuth" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <a class="nav-link" routerLink="/notifications" fragment="page-top-notifications" (click)="toggleNavbar()">Notifications</a></li>
                <li class="nav-item col-9 mx-md-1 col-md-2 mb-1 mx-auto px-0 text-center" routerLinkActive="active-link" *ngIf="isAuth" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <a class="nav-link" routerLink="/profile/{{userName}}" fragment="page-top-profil" (click)="onSeeMine(); toggleNavbar()">Mon profil</a></li>
                <li class="nav-item col-9 mb-4 mb-md-1 mx-md-1 mx-auto col-md-2 px-0 text-center" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <a class="nav-link" routerLink="/publications" fragment="page-top-list" (click)="toggleNavbar()">Liste</a></li>
                <li class="nav-item col-9 mb-sm-4 mb-md-1 mx-md-0 mx-auto col-md-2 mb-1 px-0 text-center" routerLinkActive="active-link" *ngIf="isAdmin" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <a class="nav-link" routerLink="admin" (click)="onCheckNews(); toggleNavbar()">Admin</a></li>
                <li class="nav-item col-9 col-sm-4 mb-4 mb-md-1 mx-md-1 mx-auto px-0 col-md-2 px-0 text-center logout" routerLinkActive="active-link" *ngIf="isAuth" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <a class="nav-link" routerLink="auth" (click)="onLogout(); toggleNavbar()">Déconnexion</a></li>                
            </ul>                 
        </div>
    </nav>
    <div class="row message mb-2" *ngIf="errorMsg">
        <p class="col-12 text-danger texte-center">{{ errorMsg }}</p>
    </div>
</div>

