<div class="row" id="page-top-profil">
    <div class="col-10 col-lg-8 mx-auto">

        <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
        <div class="show-profile">
            <div class="profilePic mt-3" *ngIf="profile?.imageUrl">
                <img [src]="profile?.imageUrl" alt="profile picture">
            </div>
            <div class="controls">
                <div class="row no-gutters col-12 mx-auto" *ngIf="isMine">
                    <div class="col-6 mx-auto text-left">
                        <button routerLink="modify"><img src="./assets/images/write-icon.png" alt="edition icon"></button>
                    </div>
                    <div class="col-6 mx-auto text-right">
                        <button routerLink="settings"><img src="./assets/images/settings-icon.png" alt="settings icon"></button>
                    </div>                
                </div>
            </div>
            <div id="zero"><p>Nom d'utilisateur : <span>{{profile?.userName}}</span></p></div>
            <div id="first">
                <p>Prénom : <span>{{profile?.firstname}}</span></p>
                <p>Nom : <span>{{profile?.lastname}}</span></p>
            </div>
            <div id="second">
                <p>Service : <span>{{profile?.serviceName}}</span></p>
                <p *ngIf="profile?.email">e-mail : <span>{{profile?.email}}</span></p>
            </div>        
            <div id="aboutMe" *ngIf="aboutMe">
                <p>A propos de moi : </p>
                <p><span>{{aboutMe}}</span></p>
            </div>            
        </div>        
        <div class="controls">            
            <div class="row no-gutters col-12 mx-auto">
                <div class="col-4 mx-auto my-1 text-left">
                    <button routerLink="/publications"><img src="./assets/images/list-icon.png" alt="list icon"></button>
                </div>
                <div class="col-4 mx-auto my-1 text-center">
                    <button  *ngIf="!fromList && !fromUsersList && !isMine" routerLink="/publications/{{fromPost}}"><img src="./assets/images/back-icon.png" alt="back icon"></button>
                </div>
                <div class="col-4 mx-auto my-1 text-right">
                    <button ><img src="./assets/images/search-icon.png" alt="search icon"></button>
                </div>
            </div>            
        </div>        
        
        <div>
            <br/>
            <br/>
            <h2 class="text-center" *ngIf="publications?.length">Publications</h2>
            <ul class="list-group">
                <app-user-publications  *ngFor="let publication of publications; let i = index"
                    [publicationTitle]="publication.title"
                    [publicationContent]="publication.content"
                    [publicationDate]="publication.date_publication"
                    [publicationLikes]="publication.likes"
                    [publicationNumberComments]="publication.numberComments"
                    [publicationUserName]="publication.userName"
                    [publicationModerated]="publication.moderated"
                    [fromProfile]="fromProfile"
                    [index]="i" 
                    [id]="publication.id">
                </app-user-publications>
            </ul>
        </div>
        
        
        
    </div>
</div>

